<!doctype html>
<html>
    <h1>Underground Weather Scraper</h1>
<body>
    <p>A prototype web API for accessing personal weather station.</p>
    <p><a href="{{ url_for('home') }}">Home</a></p>
    <p><a href="{{ url_for('update_weather') }}">Update Weather</a></p>
    <p><a href="{{ url_for('get_temp') }}">Get Temperature</a></p>
    <p><a href="{{ url_for('get_feels_like_temp') }}">Get Feels Like Temperature</a></p>
    <p><a href="{{ url_for('get_pressure') }}">Get Pressure</a></p>
    <p><a href="{{ url_for('get_dewpoint') }}">Get Dew Point</a></p>
    <p><a href="{{ url_for('get_humidity') }}">Get Humidity</a></p>
    <p><a href="{{ url_for('get_precipitation_rate') }}">Get Precipitation Rate</a></p>
    <p><a href="{{ url_for('get_precipitation_accumulation') }}">Get Precipitation Accumulation</a></p>
    <p><a href="{{ url_for('get_precipitation_total') }}">Get Precipitation Total</a></p>
</body>
</html>